body{
    background-color: #85dccb;
}
h1{
    padding: .5rem;
}
.head{
    background-color: #d8d8d8;
}
.main{
    background-color: #ffd9b7;
    width: 250px;
    height: 400px;
    margin: 3rem auto;
    padding: .5rem;
    -webkit-box-shadow: 3px 3px 8px -4px black;
    -moz-box-shadow: 3px 3px 8px -4px black;
    box-shadow: 3px 3px 8px -4px black;
}